.SignIn {
    width: 60%;
    margin: 20px auto;
    border: 1px solid gray;
    box-shadow: 0 2px 3px #c88686;
    box-sizing: border-box;
    padding: 10px;
}

.SignIn input {
    outline: none;
    border: 1px solid lightgray;
    background-color: white;
    padding: 6px 10px;
    box-sizing: border-box;
    margin: 5px;
}

.SignIn input:focus {
    background-color: lightgray;
}

.SignIn p {
    color: red;
}